.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    padding: 24px;
    width: 100%;
}

.createAcc{
    font-size: 36px;
    line-height: 1.1111;
    font-weight: bold;
    /* 700 */
    margin-bottom: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 32px;
    border-radius: 4px;
    width: 100%;
    max-width: 512px;
}


.input, .select{
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 16px;
    background-color: transparent;
    border-radius: 4px;
    outline: none;
    width: 100%;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}
.input:focus{
    border: 2px solid black;
}



.input::placeholder{
    color: #888888;
}



.select:focus{
    border: 2px solid black;
}



.options{
    color: black;
}


.reset-button{
    background-color: #6a7282;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
}

.reset-button:hover{
    background-color: #99a1af;
}
.signup-buttonFilled{
    width: 50%;
    background-color: #2b7fff;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.signup-buttonFilled:hover{
    background-color: #51a2ff;
}
.signup-buttonNotFilled{
    display: none;
}

.buttons-div{
    display: flex;
    gap: 12px;
}

.next{
    background-color: rgb(220, 20, 137);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    color: white;
}

.next:hover{
    background-color: rgb(255, 0, 149);
}

@media (prefers-color-scheme: dark) {
    .form{
background-color: #1e2939;
    color: white;
    }
.input{
    border-color: #4a5565;
    color: white;
}
.input::placeholder{
    color: #99a1af;
}
.input:focus {
  border:2px solid #99a1af;
}
.select {
  border-color: #4a5565;
  color: white;

}
.select:focus {
  border: 2px solid #99a1af;
  outline: none;
}
.reset-button{
    background-color: #4a5565;
}
.reset-button:hover{
    background-color: #6a7282;
}
.options{
    background-color: black;
    color: white;
}
.signup-buttonFilled{
    background-color: #155dfc;
}
.signup-buttonFilled:hover{
    background-color: #2b7fff;
}
.createAcc{
    color: white;
}
.layout{
    background-color: #101828;
}
}